.blueSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0) 40%,
    #0076b1af,
    #498fff
  );
  background-size: auto 100%;
  background-position: center;
  border-radius: 0 0 25px 25px;
}
.blueSectionTitle {
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 6px;
  margin-top: 15rem;
}
.Pargraph {
  font-size: 16px;
  font-weight: 400;
  margin: 1.9rem auto 15rem;
  text-align: center;
  width: 50%;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .Pargraph {
    width: 80%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .blueSectionTitle {
    font-size: 50px;
  }
  .Pargraph {
    width: 83%;
  }
}

@media only screen and (max-width: 576px) {
  .blueSectionTitle {
    font-size: 40px;
  }
  .Pargraph {
    width: 96%;
  }
}

